# This file lists the dependencies necessary for the project not included in the course text_analytics environment.

# Activate conda environment first: "conda activate text_analytics" before running: "pip install -r requirements.txt"

sentence-transformers
seaborn
umap-learn